html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
	
h3 {
	font: 28px/26px Arial;
	margin: 10px 100px 10px 100px;
}

h4 {
	text-align: justify;
	margin: 30px 100px 30px 100px;
	font: 20px/26px Arial;
}
	
h1 {
	font: 36px/32px Arial;
	margin: 20px 100px 20px 100px;
}

.topbutton {
	width: 100px;
	border: 2px solid #7E92A1;
	background: #8EA2B1;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
	color:#333;
	font: 16px Arial;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	z-index: 1;
}

.wrapper {
	min-width: 800px;
	max-width: auto;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	display: block-inline;
}

.header {
	height: 200px;
	background: #8EA2B1;
	width: 100%;
}

.head {
	height: 100%;
	background: #8EA2B1;
	width: 100%;
}

.headCat {
	height: 100%;
	margin-top: -200px;
}

.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 0;
}

.footer {
	min-width: 800px;
	max-width: auto;
	height: 100px;
	background: #8EA2B1;
	position: relative;
	margin-bottom: 0%;
}

.footer h2 {
	text-align: center;
	font: 14px Arial;
}

#h2 {
	float: left;
	margin-top: 40px;
	margin-left: 25%;
}

#h2-1 {
	float: right;
	margin-top: 40px;
	margin-right: 25%;
}

#navbar {
	margin-top: -98;
	margin-left: 200;
	padding: 0;
	list-style-type: none;
	height: 30px;
	padding-left: 25px;
	min-width: 470px;
}

#navbar ul {
	display: none;
	background-color: #F90;
	position: absolute;
	top: 100%;
	padding: 0;
	list-style-type: none;
	z-index: 1;
}

#navbar li:hover ul {
	display: block;
}

#navbar li {
	float: left;
	position: relative;
	height: 100%;
}

#navbar li a {
	display: block;
	font: 18px/16px Arial, sans-serif;
	padding: 6px;
	width: 150px;
	color: #000;
	text-decoration: none;
	text-align: center;
}

#navbar ul li {
	float: none;
}

#navbar li:hover {
	background-color: #F90;
}

#navbar ul li:hover {
	background-color: #8EA2B1;
}